.product{
    background-color: crimson;
    display: flex;
    align-items: center;
    width: 20%;
}

.product-info-container{
    margin: 0 10px;
}

.product-image{
    height: 80px;
    width: 80px;
    border: 2px solid black;
}

.btn-product{
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}

.amount-style{
    font-weight: bold;
    color: black;
}

.amount-style-zero{
    font-weight: bold;
    color: gray;
}